<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Mon Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="hasRole('USER')" th:href="@{/dashboard}">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!hasRole('ADMIN') and hasRole('USER')" th:href="@{/reservations/new}">Réserver</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" sec:authorize="!hasRole('ADMIN') and hasRole('USER')" th:href="@{/reservations}">Mes réservations</a>
                </li>
                <!-- Utiliser sec:authorize avec hasRole (sans le préfixe ROLE_) -->
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">Administration</a>
                </li>
            </ul>
            <div class="d-flex" sec:authorize="isAuthenticated()">
                <span class="navbar-text me-3">
                    Bienvenue, <span sec:authentication="name"></span>
                </span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-light">Déconnexion</button>
                </form>
            </div>
        </div>
    </div>
</nav>